<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eunhyo2">

        <activity android:name=".feature.media.KoreanSongActivity" android:exported="false" />
        <activity android:name=".feature.maze.MazeActivity" android:exported="false" />
        <activity android:name=".feature.english.EnglishWordPracticeActivity" android:exported="false" />
        <activity android:name=".feature.typing.TypingPracticeActivity" android:exported="false" />
        <activity android:name=".feature.math.GcdLcmActivity" android:exported="false" />
        <activity android:name=".feature.hanja.HanjaRadicalActivity" android:exported="false" />
        <activity android:name=".feature.world.CountryStudyActivity" android:exported="false" />
        <activity android:name=".feature.personality.PersonalityQuizActivity" android:exported="false" />
        <activity android:name=".feature.magic.MagicActivity" android:exported="false" />
        <activity android:name=".feature.goldenbell.GoldenBellActivity" android:exported="false" />
        <activity android:name=".feature.math.MathStateActivity" android:exported="false" />
        <activity android:name=".feature.koreanbook.KoreanBookEditorActivity" android:exported="false" />
        <activity android:name=".feature.korean.KoreanPronunciationActivity" android:exported="false" />
        <activity android:name=".feature.koreanbook.KoreanBookActivity" android:exported="false" />
        <activity android:name=".feature.korean.KoreanSpellingActivity" android:exported="false" />
        <activity android:name=".feature.korean.KoreanIdiomActivity" android:exported="false" />
        <activity android:name=".feature.english.EnglishSentenceImportActivity" android:exported="false" />
        <activity android:name=".feature.about.AboutActivity" android:exported="false" />
        <activity android:name=".feature.sports.SportsActivity" android:exported="false" />
        <activity android:name=".feature.settings.SettingsActivity" android:exported="false" />
        <activity android:name=".feature.korean.KoreanPhraseActivity" android:exported="false" />
        <activity android:name=".feature.graph.GraphToolsActivity" android:exported="false" />
        <activity android:name=".feature.geometry.GeometryStudyActivity" android:exported="false" />
        <activity android:name=".feature.math.MeasurementActivity" android:exported="false" />
        <activity android:name=".feature.links.EducationLinksActivity" android:exported="false" />
        <activity android:name=".feature.drawing.DrawingPracticeActivity" android:exported="false" />
        <activity android:name=".feature.clock.ClockStudyActivity" android:exported="false" />
        <activity android:name=".feature.ai.AiChatActivity" android:exported="false" />
        <activity android:name=".feature.media.MediaLibraryActivity" android:exported="false" />
        <activity android:name=".feature.history.HistoryStudyActivity" android:exported="false" />
        <activity android:name=".feature.game.BoardGameScoreActivity" android:exported="false" />
        <activity android:name=".feature.school.SchoolMenuActivity" android:exported="false" />
        <activity android:name=".feature.hanja.HanjaStudyActivity" android:exported="false" />
        <activity android:name=".feature.math.MathStudyActivity" android:exported="false" />
        <activity android:name=".feature.korean.KoreanStudyActivity" android:exported="false" />
        <activity android:name=".feature.english.EnglishStudyActivity" android:exported="false" />

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
